@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

header img {
    width: 40px;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
  display: flex;
  width: 300px;
}

.logo {
    width: 70px;
}

.search-packages {
    display: flex;
    height: 60px;
    position: relative;
    justify-content: space-between;
}

.search-packages > form {
    background-color: rgba(0,0,0,.05);
    display: flex;
    align-items: center;
    margin: 0;
    width: 900px;;
    height: 32px;
    font-size: 16px;
}

.search-packages input {
    background-color: rgba(0,0,0,0);
    height: 32px;
    width: 900px;
    border: 0;
    font-size: 16px;
}

.glass {
    width: 25px;
    margin: 0 20px;
}

.search-botton {
    background-color: #fb3e44;
    color: white;
    font-size: 18px;
    margin: 0;
    width: 100px;
    height: 34px;
}

.join-botton a {
    color: black;
    padding: 3px 15px;
    text-decoration: none;
    border: 1px solid lightgray;

}

.login-botton {
    color: black;
    text-decoration: none;
    margin: 0 0 0 10px;
}

.first-section h1 {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    width: 200;
    height: 50px;
    margin: 0 10 0 10;
    padding: 40px;
}

.first-section {
    height: 600px;
    background-color: rgba(232, 217, 217, 3);
}

.sector-two {
    text-align: center;
    font-size: 30px;
    width: 800px;
    height: 0 50px 50px 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 30px;
}

.first-botton {
    color: rgba(0, 0, 0, 05);
    background-color: #fb3e44;
    color: white;
    font-size: 24px;
    padding: 15px 32px;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    font-weight: bold;
    width: 200px;
}

.second-botton {
    color: rgba(0, 0, 0, 05);
    background-color: #ffffff;
    color: black;
    font-size: 24px;
    padding: 15px 32px;
    font-weight: bold;
    width: 200px;
}

.position-bottons {
    text-align: center;
    padding: 70px;
    display: flex;
    justify-content: space-evenly;
  }

#second-section {
    display: flex;
    justify-content: center;
    height: 600px;
    flex-direction: column;
    align-items: center;
}

#second-section img {
    width: 300px;
}

.heading-backcolor {
    background-color: rgba(255, 232, 178, 4);
    transform: skew(9deg, 0deg);
    font-style: italic;
    text-align: center;
    margin: 30px;
    font-size: 30px;
    width: 800px;
}

.text-article {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    text-align: center;
    width: 750px;
    height: 100px;
}

#third-section img {
    width: 20px;
}

.text-botton {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 1200px;
    font-size: 15px;
    flex-direction: row;
    margin: auto;
    height: 250px;
}

h3 {
    color: #ED1C24;
    font-size: 20px;
}

.box-shadow {
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
    color: white;
    background-color: #000000;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 20px;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    font-weight: bold;
}

.black-box {
    display: flex;
    justify-content: center;
    padding: 50px;
}












